header {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
}

nav {
  display: flex;
}

nav a {
  padding: 1em 1.5em;
  color: inherit;
  text-decoration: none;
}

nav a.active{
    color: #f90
}

header.dark{
  background-color: #333;
  color: #fff;
}